{
  "info": {
    "_postman_id": "53aed660-68b9-4eca-9a2c-5c8a1c685fa9",
    "name": "New Collection",
    "schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json",
    "_exporter_id": "14459125"
  },
  "item": [
    {
      "name": "New Folder",
      "item": [
        {
          "name": "New Folder",
          "item": [
            {
              "name": "参数",
              "protocolProfileBehavior": {
                "disableBodyPruning": true
              },
              "request": {
                "method": "GET",
                "header": [],
                "body": {
                  "mode": "raw",
                  "raw": "{\r\n    \"a\": 1\r\n}",
                  "options": {
                    "raw": {
                      "language": "json"
                    }
                  }
                },
                "url": {
                  "raw": "?1=1",
                  "query": [
                    {
                      "key": "1",
                      "value": "1"
                    }
                  ]
                }
              },
              "response": []
            }
          ]
        },
        {
          "name": "New Request",
          "request": {
            "method": "GET",
            "header": []
          },
          "response": []
        }
      ]
    },
    {
      "name": "New Request",
      "request": {
        "method": "GET",
        "header": []
      },
      "response": []
    }
  ]
}