{
  "request": {
## 请求方式
    "method": "POST",
    "header": [
      ## 配置请求头
      {
        "key": "Content-Type",
##        只有这个要变
        "value": "application/x-www-form-urlencoded"
      },
      {
        "key": "Accept",
        "value": "*/*"
      },
      {
        "key": "Authorization",
        "value": "{{Authorization}}"
      }
    ],
    "body": {
      ## 请求的类型, json 为 raw
      "mode": "urlencoded",
      "raw": "json 格式",
      "urlencoded": [
        {
          "key": "mobilePhone",
          "value": "<string>",
          "description": "(Required) 手机号码"
        }
      ]
    },
    "url": {
      "raw": "{{baseUrl}}/dxz/app/aliyun/sms/send/captcha",
      "query": [
        {
##          url 参数
          "key": "1",
          "value": "1"
        }
      ]
    }
  }
}